fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
langgraph
langchain
langchain-openai
playwright
python-dotenv
requests
httpx
pydantic
alembic
google-api-python-client
google-auth-oauthlib
mcp

langchain-groq
